h1 {
  color: blue;
}
body {background-color: rgb(35, 175, 0)}
/* nav {
  display: table-column;
  font-weight: bold;
} */

/* .navbar {
  display: block;
  font-weight: bold;
} */

body {
  font-family: 'Frank Ruhl Libre', serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

audio {
  background: transparent;
	top: 0;
	margin: 0;
	padding: 1em 1em;
	position: fixed;
	right: 0;
}

.dropdown-content {
  display: none;
  /* padding-top: 14px; */
  position: relative;

  background-color: gray;

}

a:hover{
  background-color: rgb(236, 234, 75)
} 


.dropdown:hover .dropdown-content{
  display: block;


}

nav {
  width: 100%;
  height: 50px;
  background-color: GoldenRod;
}

nav a {
  padding: 14px 14px;
  float: left;
  display: block;
  border: 1px solid black;

  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  color: solid black;
}

nav a:visited {
  color: solid black;
}

nav a:hover {
  background-color: Orange;
}

nav .highlight{
  font-weight: bold;
}



form {
  width: 400px;
  padding: 1em;
  padding-top: 20px;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}


textarea {
  vertical-align: top;

  height: 5em;
}
